* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
}

:root {
    --black: #141414;
    --index: calc(1vw + 1vh);
    --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
    --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
body {
    background-color: #f0f0f0;
}
.header {
    text-align: center;
    font-size: 30px;
}
.list {
    margin-top: 205px;
    font-family: arsenal_f, sans-serif;
    font-size: calc(var(--index) * 2);
    padding: calc(var(--index) * 2.5);
}
.list_item {
    color: black;
    cursor: none;
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: calc(var(--index) * 1 ) calc(var(--index) * 2.5 );
    border-bottom: 1px solid rgb(0 0 0 / .09);
    counter-increment: my-counter;
}
.list_item:first-child {
    border-top: solid 1.5px;
}
.list_header {
    color: #f0f0f0;
    transition: transform var(--transition);
    will-change: transform;
}
.list_item::before {
    position: absolute;
    content: '(0' counter(my-counter) ')';
    font-size: calc(var(--index) * 0.95);
    margin-left: calc(var(--index) * -2.25 );
    margin-top: calc(var(--index) / 2);
    letter-spacing: .5px;
    transition: var(--transition);
    transition-delay: .04s;
    will-change: transform;
}
.list_header:hover {
    color: #141414;
    transition: 1.25s;
}
.list_item:hover .list_header,
.list_item:hover::before {
  transform: translate3d(calc(var(--index) * -2.25), 0, 0); 
}
.cursor {
    --width: calc(var(--index)* 22);
    --height: calc(var(--index)* 17);
    position: fixed;
    width: 350px;
    height: 0;
    top: calc(var(--height) * -.3);
    left: calc(var(--width) * -.665);
    overflow: hidden;
    transform: translate3d(var(--move-x), var(--move-y), 0);
    transition: transform var(--transition-cursor), height 1s ease;
    z-index: -1;
    will-change: transform;
}

.cursor_img {
    --cusror-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
    position: relative;
    width: calc(var(--width) * 2);
    height: calc(var(--height) * 2);
    top: calc(var(--height) * -.15);
    left: calc(var(--width) * -.15);
    background-size: 80%;
    background-position: center;
    transform: var(--cusror-transform) scale(1.5);
    transition: transform var(--transition-cursor);
}
.list_item:hover .cursor {
    height: var(--height);
}
.list_item:hover .cursor_img {
    transform: var(--cusror-transform) scale(1);
}
.cursor_img:nth-child(6) {
    background-size: 70%;
}